body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    float: left;
}

.header .menu {
    float: right;
}

.header .menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.header .menu a:hover {
    color: #FFC107;
}

.footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.footer .footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.footer .footer-links a:hover {
    color: #FFC107;
}

/* Slider Styles */
.slider-container {
    width: 100%;
    max-height: 800px; /* Set the maximum height of the slider */
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    max-height: 800px; /* Set the maximum height of the slider */
}

.slide {
    flex: 0 0 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide-content {
    position: absolute;
    top: 50%; /* Position the content vertically centered */
    left: 50%; /* Position the content horizontally centered */
    transform: translate(-50%, -50%); /* Center the content precisely */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    width: 80%; /* Set the width of the content */
    max-width: 300px; /* Set the maximum width of the content */
}


.recipe-slider-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 25px;
}

.recipe-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.recipe-slide {
    flex: 0 0 25%;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.recipe-slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipe-slide-content {
    padding: 10px;
    text-align: center;
}

.recipe-slide:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.slider-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}


/* LOGIN  */
.login-container {
    margin: 30px 0 30px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.content-login{
    display: flex;
    align-items: center;
    justify-content: center;
}